body {
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    margin: 0;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}
#main-header {
    background-color: coral;
    color: #f4f4f4;
}
#navbar {
    background-color: #333;
    color:#f4f4f4
}
#navbar ul {
    list-style: none;
    padding: 0;
}
#navbar li {
    display: inline;
}
#navbar a {
    text-decoration: none;
    color: beige;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 10px;
}
#showcase {
    background-image: url('01.jpg');
    min-height: 150px;
    margin-bottom: 40px;
    text-align: center;

}
#showcase h1 {
    color: #f4f4f4;
    font-size: 18px;
    line-height: 1.7em;
    padding: 7px;
}
#main {
    float: left;
    width: 65%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar {
    float: right;
    width: 25%;
    background: #333;
    color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}
@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}