body {
    background-color: #f4f4f4;
    color:#555555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
}
a {
    text-decoration: none;
    color : blueviolet;

}
a:hover {
    color: aqua;
}
.container {
    width:80%;
    margin: auto;
}
.button {
    background-color: #333;
    color:white;
    padding : 10px 15px;
    border : none;
}
.clr{
    clear:both;
}
.box-1 {
    background-color: black;
    color: white;
    border : 5px red solid;
    padding : 20px;
    margin: 25px;

}
.box-1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: oblique;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box-2 {
    border: 4px orange dotted;
    padding : 20px;
    margin : 20px;

}
.categories {
    border : 7px blue solid;
    border-radius: 15px;
    padding: 15px;
    margin : 20px;

}
.categories h2 {
    text-align: center ;
}
.categories ul {
    padding : 0;
    list-style: none;
}
.categories li {
    padding-bottom: 7px;
    border-bottom: dotted 1px #333;
}
.my-form {
    padding: 20px;
    border :2px solid black;
}
.my-form .form-group {
    padding-bottom: 14px;
}
.my-form label {
    display: block;
}
.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width:100%;
}
.block {
  float: left;
  width: 33.3%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 15px;
}
#main-block {
    float : left;
    width : 65%;
    box-sizing: border-box;
    padding: 15px;
}
#sidebar {
    float : right;
    width : 35%;
    padding : 15px;
    box-sizing: border-box;
    background-color: #333;
    color: #f4f4f4;
    margin-top: 40px;
}
.p-box {
    width: 700px;
    height: 600px;
    border : 2px solid black;
    margin-top: 35px;
    position: relative;
    background-image: url('01.jpg');
    background-repeat: no-repeat;
    background-position: 100px 79px;
    background-position: center center;
}
.p-box h1 {
    position: absolute;
    top:100px;
    left:200px;
}
.p-box h2 {
    position: absolute;
    bottom : 50px;
    right : 100px;
}
.fix-me {
    position: fixed;
    top : 350px;
}
.my-list li:first-child {
    background: red;
}
.my-list li:last-child {
    background: orange;
}
.my-list li:nth-child(3) {
    background: blue;
}
.my-list li:nth-child(even) {
    background: grey;
}